/* Base styles */
body {
  display: block;
  margin: 0;
  overflow: hidden;
}

#cake {
  display: block;
  position: relative;
  margin: 0 auto; /* Căn giữa theo chiều ngang */
  margin-top: -10em;
  margin-bottom: 50px; /* Khoảng cách dưới cùng */
}

/* Candle */
.bg {
  width: 100%;
  height: 705px;
  background: #ee9ca7;
  background: linear-gradient(to bottom right, #ee9ca7 0%, #ee9ca7 100%);
}

.velas {
  background: #ffffff;
  border-radius: 10px;
  position: relative;
  top: 247px;
  margin: 0 auto; /* Căn giữa theo chiều ngang */
  width: 5px;
  height: 35px;
  transform: translateY(-300px);
  backface-visibility: hidden;
  animation: in 500ms 6s ease-out forwards;
}

.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}

.velas:after {
  top: 25%;
  left: 0;
}

.velas:before {
  top: 45%;
  left: 0;
}

/* Fire */
.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%; /* Đặt 50% để căn giữa theo chiều ngang */
  transform: translateX(-50%); /* Di chuyển về bên trái 50% của phần tử */
  margin-left: -2.2px;
  width: 6.66666667px;
  height: 18px;
  animation: fuego 2s 6.5s infinite;
}

/* Button and Happy message */
.happy, .button-style1, .button-style2 {
  position: absolute;
  top: 50%; /* Đặt 50% để căn giữa theo chiều dọc */
  left: 50%; /* Đặt 50% để căn giữa theo chiều ngang */
  transform: translate(-50%, -50%); /* Di chuyển về trái 50% và lên trên 50% của phần tử */
  opacity: 1;
  z-index: 100;
}

.button-style1 {
  margin-top: 20px; /* Khoảng cách từ nút button đến Happy message */
}

.button-style2 {
  margin-top: 20px; /* Khoảng cách từ nút button đến Happy message */
}

/* Responsive styles */
@media (max-width: 768px) {
  /* Các điều chỉnh cụ thể cho kích thước màn hình nhỏ hơn */
}

@media (max-width: 480px) {
  /* Các điều chỉnh cụ thể cho kích thước màn hình nhỏ hơn */
}

/* Các keyframes và styles khác */
